html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
  background-color: #151515;
}

.header {
  background-color: #333333;
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
  height: 94%;
  flex-flow: column;
}

.info-box {
  align-items: baseline;
  display: flex;
}

.chart-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 200px;
}

.container {
  display: flex;
  justify-content: center;
}

.center-baseline {
  display: flex;
  align-items: baseline;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.button-item {
  display: flex;
  justify-content: center;
  margin: 0.2em;
}

.button-item div {
  display: flex;
	justify-content: center;
	align-items: center;
  flex-flow: column;
  font-size: 0.8em;
	width: 40vw;
  padding: 1.2em;
  background-color: #FB8C00;
  border-color: #FB8C00;
  min-width: 100px;
  font-weight: bold;
}

.go-back {
  position: absolute;
  top: 10%;
  color: #007AFF;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(44, 44, 46);
  color: #c4c4c4;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  border-top: 1px solid #8E8E93;
  justify-content: space-between;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.input {
  display: flex;
  margin: 3rem auto;
  border: none;
  padding: 0;
  width: 4.5ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 4ch 2px no-repeat;
  font: 1.2rem 'Ubuntu Mono', monospace;
  letter-spacing: 0.5ch;
  color: #FB8C00;
  font-size: 2em;
}

.input:focus {
  outline: none;
  color: white;
}

.back-button {
  transform: rotate(180deg);
  width: 5vw;
  min-width: 20px;
}

span {
  color: #c4c4c4;
  font-size: 0.9em;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: white;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
  position: absolute;
  top: 12%;
  color: #c4c4c4;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-family: "Muli", sans-serif;
	color: #a9a9a9;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 15px 0;
}

img {
  width: 10vw;
  height: 4vh;
  min-width: 30px;
}

.header-icon {
  width: 5vw;
  height: 3vh;
  min-width: 30px;
}