<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Insulin Pump</title>
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body ng-app="MainApp" ng-view ng-controller="mainController" class="content">
  <div class="header grid-item">
    <div>
      <img class="header-icon" src="img/calendar.svg">
    </div>
    <div class="header-item">
      <img class="header-icon" src="img/sensor.svg">
    </div>
    <div class="header-item">
      <img class="header-icon" src="img/pump.svg">
    </div>
    <div class="header-item">
      <img class="header-icon" src="img/battery.svg">
    </div>
  </div>

  <div class="grid-item space-between padding" ng-show="currentPage === 'home'">
    <div>
      <span>
        Automode
        <img ng-if="automode" class="header-icon" src="img/check.svg">
        <img ng-if="!automode" class="header-icon" src="img/cross.svg">
      </span>
    </div>
    <div>
      <span ng-class="dosage ? 'on' : 'off'">
        {{ object.bolusLevel ? object.bolusLevel : '0' }} U Act. Insulin
      </span>
      <div ng-if="!dosage" class="info">Dosage paused</div>
    </div>
  </div>

  <div class="grid-item" ng-show="currentPage === 'home'">
    <div class="chart-container">
      <canvas class="chart" id="chart"></canvas>
    </div>
    <div class="chart-button-container">
      <div ng-repeat="btnText in ['1 day', '1 week', '1 month', '3 months', '6 months'] track by $index">
        <button class="btn" ng-class="(activeIndex === $index) ? 'selected' : 'btn-outline-secondary'"
          ng-click="updateGraph($index)">
          {{ btnText }}
        </button>
      </div>
    </div>
  </div>

  <div class="grid-item center" ng-show="currentPage === 'home'">
    <div class="info-box">
      <h3>{{ object.bgLevel }}</h3>
      <span>mmol/l</span>
    </div>
  </div>
  <div class="grid-item center" ng-show="currentPage === 'home'">
    <div class="button-container">
      <div class="button-item">
        <button class="btn btn-secondary" ng-click="bolusAlert()">
          <img src="img/tube.svg">
          <p>Bolus</p>
        </button>
      </div>
      <div class="button-item" ng-click="bgAlert()">
        <button class="btn btn-secondary">
          <img src="img/drop.svg">
          <p>Calibrate</p>
        </button>
      </div>
      <div class="button-item" ng-click="goTo('settings')">
        <button class="btn btn-secondary">
          <img src="img/settings.svg">
          <p>Settings</p>
        </button>
      </div>
      <div class="button-item" ng-click="goTo('history')">
        <button class="btn btn-secondary">
          <img src="img/history.svg">
          <p>History</p>
        </button>
      </div>
    </div>
  </div>

  <div ng-show="currentPage === 'settings'">
    <div class="col-md-12 col-sm-12 sub-header" style="margin-bottom: 3em;">
      <div class="go-back" ng-click="goTo('home')">
        <img class="back-button" src="img/trend.svg">
        Back
      </div>
      <h5 class="center">Settings</h5>
    </div>

    <div class="col-md-12 col-sm-12" style="padding: 0">
      <div class="settings-container">
        <span class="sub-headline">Insulin Pump</span>
        <div class="item">
          <div>
            Automode
          </div>
          <div class="center">
            <div style="padding: 4px;">
              {{ automode ? 'On' : 'Off' }}
            </div>
            <div class="onoffswitch">
              <input type="checkbox" ng-click="changeAutomode()" name="onoffswitch" class="onoffswitch-checkbox"
                id="automode" checked>
              <label class="onoffswitch-label" for="automode"></label>
            </div>
          </div>
        </div>
        <div class="item">
          <div>
            Insulin dosage
          </div>
          <div class="center">
            <div style="padding: 4px;">
              {{ dosage ? 'On' : 'Off' }}
            </div>
            <div class="onoffswitch">
              <input type="checkbox" ng-click="changeDosageMode()" name="onoffswitch" class="onoffswitch-checkbox"
                id="dosage" checked>
              <label class="onoffswitch-label" for="dosage"></label>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="settings-container">
        <span class="sub-headline">warning notifications</span>
        <div class="item">
          <div>
            Warning Low
          </div>
          <div class="center">
            <div style="padding: 4px;">
              {{ warningLow ? 'On' : 'Off' }}
            </div>
            <div class="onoffswitch">
              <input type="checkbox" ng-click="changeWarningLow()" name="onoffswitch" class="onoffswitch-checkbox"
                id="warningLow" checked>
              <label class="onoffswitch-label" for="warningLow"></label>
            </div>
          </div>
        </div>
        <div class="item">
          <div>
            Warning High
          </div>
          <div class="center">
            <div style="padding: 4px;">
              {{ warningHigh ? 'On' : 'Off' }}
            </div>
            <div class="onoffswitch">
              <input type="checkbox" ng-click="changeWarningHigh()" name="onoffswitch" class="onoffswitch-checkbox"
                id="warningHigh" checked>
              <label class="onoffswitch-label" for="warningHigh"></label>
            </div>
          </div>
        </div>
        <div class="item">
          <div>
            Sound
          </div>
          <div class="center">
            <img class="icon" src="img/mute.svg">
            <input type="range" class="custom-range" id="customRange1">
            <img class="icon" src="img/speaker.svg">
          </div>
        </div>
        <div class="item">
          <div>
            Vibration
          </div>
          <div class="center">
            <img class="icon" src="img/phone.svg">
            <input type="range" class="custom-range" id="customRange1">
            <img class="icon" src="img/vibration.svg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="currentPage === 'history'">
    <div class="col-md-12 col-sm-12 sub-header">
      <div class="go-back" ng-click="goTo('home')">
        <img class="back-button" src="img/trend.svg">
        Back
      </div>
      <h5 class="center">History</h5>
    </div>

    <div class="history-item" style="background-color: rgb(44, 44, 46);" ng-style="clicked2"
      ng-click="clicked2={'background-color' : '#151515'}">
      <div class="space-between">
        <div class="title">Calibration</div>
        <div class="info">15:23</div>
      </div>
      <div>
        New
      </div>
      <div class="info">
        BG calibrated to 4.0 mmol/l
      </div>
    </div>
    <div class="history-item">
      <div class="space-between">
        <div class="title">Warning</div>
        <div class="info">12:23</div>
      </div>
      <div>
        Low
      </div>
      <div class="info">
        Bolus stopped at BG 4.0 mmol/l
      </div>
    </div>
    <div class="history-item" style="background-color: rgb(44, 44, 46);" ng-style="clicked1"
      ng-click="clicked1={'background-color' : '#151515'}">
      <div class="space-between">
        <div class="title">Insulin</div>
        <div class="info">10:34</div>
      </div>
      <div>
        Bolus
      </div>
      <div class="info">
        2 U insulin added
      </div>
    </div>
    <div class="history-item">
      <div class="space-between">
        <div class="title">Automode</div>
        <div class="info">Yesterday 09.42</div>
      </div>
      <div>
        Enabled
      </div>
    </div>
    <div class="history-item">
      <div class="space-between">
        <div class="title">Warning</div>
        <div class="info">Yesterday 03:23</div>
      </div>
      <div>
        High
      </div>
      <div class="info">
        BG measured to 4.0 mmol/l
      </div>
    </div>
    <div class="history-item">
      <div class="space-between">
        <div class="title">Automode</div>
        <div class="info">Yesterday 20:30</div>
      </div>
      <div>
        Disabled
      </div>
    </div>
    <div class="history-item">
      <div class="space-between">
        <div class="title">Warning</div>
        <div class="info">2020-04-27 11:55</div>
      </div>
      <div>
        Low
      </div>
      <div class="info">
        Bolus stopped at BG 4.0 mmol/l
      </div>
    </div>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/underscore.min.js"></script>
  <script src="js/app.js"></script>
</body>

</html>